xterm*faceName: Overpass
xterm*faceSize: 18

Xft.dpi: 96  # or any other desired DPI value
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslant
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft.font: Sogoe UI:size=14
